nav
  ul
    li
      a(href="") CAR CHOICE
      ul
        li
          a(href="") Honda Accord
        li
          a(href="") Dodge Charger
        li
          a(href="") Mini Cooper
    li
  ul
