doctype html
head
  title Smart OBD
  link(rel='stylesheet' href='css/smartOBD.css')
.container
  img.center(src='img/logo.png' alt='logo' height='200px' width='400px')
  br
  br
  img(src='img/car/example-car.svg' alt='example-car')
  br
  br
  br
  .nav
    ul
      li
        a(href='home.html') Home
      li
        a(href='live-data.html') Live Data
      li
        a(href='history.html') History
    br
    br
  .live-data
    h1
      | Overall Car Health:
      // Add percentage of error codes from database here
    .containerbox
      #centerbox1
        svg.svg-inline--fa.fa-car.fa-w-16(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='car' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
          path(fill='currentColor' d='M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z')
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    #speed
      br
      br
      br
      br
      img#speedImage(src='widgets/spedometer/low.svg' alt='thermometer' height='255' width='175')
      p#speedText
        | Speed: 0
    #engine-temp
      br
      br
      br
      br
      img#engineImage(src='widgets/thermometer/low.svg' alt='thermometer' height='255' width='175')
      p#engineText
        | Engine Temp: 0
    #rmp
      br
      br
      br
      br
      img#rmpImage(src='widgets/rpm/low.svg' alt='thermometer' height='255' width='175')
      p
        | RPM: 0
    #maf
      br
      br
      br
      br
      br
      br
      br
      br
      br
      img#mafImage(src='widgets/maf/low.svg' alt='thermometer' height='255' width='175')
      p
        | MAF: 0
    #fuel-rate
      br
      br
      br
      br
      br
      br
      br
      br
      br
      img#fuelImage(src='widgets/fuel-rate/low.svg' alt='thermometer' height='255' width='175')
      p
        | Fuel Rate: Low
    #battery
      br
      br
      br
      br
      br
      br
      br
      br
      br
      img#batteryImage(src='widgets/battery/low.svg' alt='thermometer' height='255' width='175')
      p
        | Battery: Low
  .live-data
    h1
      | Temperature Readings:
    br
    br
    br
    br
    br
    br
    div
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      img#guageImage1(src='widgets/guages/low.svg' alt='guage' height='135' width='175')
      p
        | Engine Coolant Temp.
    div
      img#guageImage2(src='widgets/guages/low.svg' alt='guage' height='135' width='175')
      p
        | Ambient Air Temp.
    div
      img#guageImage3(src='widgets/guages/low.svg' alt='guage' height='135' width='175')
      p
        | Intake Air Temp.
  .live-data2
    h1
      | Sensor Readings:
    br
    br
    div
      img#o2Image1(src='widgets/sensors/o2/bad.svg' alt='o2' height='255' width='175')
      p
        | O2 Sensor 1
    div
      img#o2Image2(src='widgets/sensors/o2/bad.svg' alt='o2' height='255' width='175')
      p
        | O2 Sensor 2
    div
      br
      br
      br
      br
      br
      img#heatImage1(src='widgets/sensors/heat/bad.svg' alt='heat' height='255' width='175')
      p
        | Heat Monitor Sensor 1
    div
      br
      br
      br
      br
      br
      img#heatImage2(src='widgets/sensors/heat/bad.svg' alt='heat' height='255' width='175')
      p
        | Heat Monitor Sensor 2
br
br
br
footer
  br
  br
  br
  br
  br
  br
  br
  br
  p(style='text-align: center;') CSCI 3308
  p(style='text-align: center;') Software Development Methods &amp; Tools
  p(style='text-align: center;') Final Project
