doctype html

link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
include header.pug

.body
  .container
    .jumbotron
      h1.display-4 Downloads
      p.lead
        a(href='/smartOBDexecutable') Linux
      p.lead
        a(href='//198.23.146.166:3000/home/codehawk/nodejs/views/pages/downloads/executable.txt') Windows





include footer.pug