doctype html
head
  title Smart OBD 
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")

style
  include home.css
.login-box
  ul
    li
      a(href='/new_user') Sign Up
    if(user_name)
      li
        a(href='/logout') Log Out
    else
      li
        a(href='/login') Log In  
.fixed2
  
  if(user_name)
    h3 Welcome! #{user_name}
  else
    h3 Welcome New Visitor!
.center
  img.center(src='/views/pages/img/logo.png' alt='logo' height='200px' width='400px')
  if(car_num == 1)
    img(src='/views/pages/img/miniCoop.png' alt='example-car' height='400px' width='600px')
  else if(car_num == 2)
    img(src='/views/pages/img/forester.png' alt='example-car' height='400px' width='800px')
  else
    img(src='/views/pages/img/example-image.png' alt='example-car')
  br
  br
  br
  .navigation
    ul
      li
        a(href='/home') Home
      li
        a(href='/full_log') Full Data Log
      li
        a(href='/live') Live data
      li
        a(href='/export') Export Mechanic Report
      li
        a(href='/downloads') Downloads

