doctype html
include header.pug
head
  script(type="text/javascript" src='views/pages/login.js')
  title New User
style
  include home.css
.container
  h1 New User
form(method='POST' action='/new_user')
          div.form-group
            h4 First Name
            input#fname.form-control(type='text', placeholder='First Name',name='fname' ,required="true")
          div.form-group
            h4 Last Name
            input#lname.form-control(type='text', placeholder='Last Name' ,name='lname' ,required="true")
          div.form-group
            h4 Email
            input#email.form-control(type='email', placeholder='email', name='email',required="true")
          div.form-group
            h4 Password
            input#password.form-control(type='password' ,name='password',required="true")
          div.form-group
            h4 Confirm Password
            input#confirmPassword.form-control(type='password' ,name='confirmPassword',required="true")
          div.form-group
            h4 Username
            input#username_input.form-control(type='text',name='username_input',required="true")
          button.btn.btn-primary(type='submit' id='sign-up-button') Sign up

footer.center
  p(style='text-align: center;') CSCI 3308
  p(style='text-align: center;') Software Development Methods &amp; Tools
  p(style='text-align: center;') Final Project