.container{
	margin: 0 auto;
    width: 50%; 
    margin-top: 20px;
}
.button {
  background-color: rgb(0,146,69); /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;

}
.button:hover {background-color: rgb(0,104,55);}

.button2 {
  background-color: rgb(193,39,45); /* Green */
  border: none;
  color: white;
  padding: 9px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;

}

.button2:hover {background-color: rgb(139,39,45);}

.login{
	text-align: center;
}
.create-account{
	text-align: center;
	border: none;
	text-decoration: none;
	color: gray;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
body{
	background-color: rgb(34,32,44);
}
h1{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h3{
	color: white;
	font-family: 'Open Sans', sans-serif;
}
p{
	color:gray;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  line-height: 90%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
a{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  text-decoration: none;
  color: white;
}

